<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p><i class="fa fa-copyright"></i> Copyright 2024 by Rk College | Design: <a>rk85783@gmail.com</a></p>
      </div>
    </div>
  </div>
</footer>