<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <% if (authUser) { %>
    <h1>Hello, <%= authUser.firstName %>!</h1>
  <% } else { %>
    <h1>Hello, Guest!</h1>
  <% } %>
</body>

</html>